<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="mailto:psinha6@gmail.com" target="_blank" class='bx bxl-gmail'></a></li>
        <li><a href="https://www.linkedin.com/in/prateek-sinha/" target="_blank" class='bx bxl-linkedin'></a></li>
        <li><a href="https://www.xing.com/profile/prateek_sinha2/cv" target="_blank" class='bx bxl-xing'></a></li>
    </ul>

    <ul class="contact-info">
        <!-- <li>Mobile: 1234567890</li> -->
        <li>psinha6@gmail.com</li>
    </ul>
</div>
